h1 {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    text-transform: uppercase;
}

.header__text {
    background-image: url("../images/header_bg.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 51px;
    padding-bottom: 49px;
}

.header__text p {
    margin-top: 16px;
    line-height: 30px;
    max-width: 780px;
    font-size: 20px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
}


.feedback {
    display: flex;
    justify-content: center;
    padding-top: 57px;
    padding-bottom: 96px;
    color: #1F3F68;
}

.feedback__contacts-item span,
.feedback__contacts-item,
.feedback__form .button,
.feedback__form label {
    display: block;
}

.feedback__contacts {
    padding-right: 101px;
}

.feedback__contacts h3 {
    padding-top: 24px;
    padding-bottom: 40px;
}

.feedback__contacts-item {
    font-weight: 300;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.feedback__contacts :nth-child(3) {
    padding-bottom: 0px;
}

.feedback__contacts-item p {
    max-width: 299px;
}

.feedback__contacts-item img {
    padding-right: 19px;
}

.feedback__form {
    padding-top: 56px;
    padding-bottom: 56px;
    width: 100%;

    max-width: 428px;
    padding-left: 56px;
    padding-right: 56px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.feedback__form h3 {
    padding-bottom: 48px;
}

.feedback__form-item {
    padding-bottom: 32px;
    width: 100%;
}

.feedback__form-item label {
    padding-bottom: 8px;
    line-height: 30px;
}

.feedback__form input {
    padding-top: 21px;
    padding-left: 42px;
    width: 100%;
    max-width: 384px;
    padding-bottom: 21px;
    opacity: 0.6;
    border-radius: 10px;
    border: 1px solid #356EAD;
}

.feedback__form input::placeholder {
    opacity: 0.3;
    font-weight: 300;
}


.feedback__form .button {
    margin-top: 40px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.feedback__form :nth-child(4) input {
    padding-bottom: 93px;
}

.map {
    min-height: 480px;
    max-width: 940px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1200px) {
    .feedback {
        display: block;
    }

    .feedback__contacts {
        padding-right: 0px;
    }

    .feedback__form,
    .feedback__contacts {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:800px) {

    .feedback {
        padding-bottom: 64px;
    }

    .map {
        padding-bottom: 64px;
    }
}

@media (max-width:550px) {
    .feedback__form {
        padding: 35px 30px 35px 30px;
    }

    .feedback__form input {
        width: 85%;
    }
}

@media (max-width:400px) {

    .feedback {
        padding-bottom: 32px;
    }

    .map {
        padding-bottom: 32px;
    }
}