* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 113px;
    padding-right: 113px;
}

span,
p {
    font-size: 16px;
    line-height: 26px;
}

.button {
    font-family: 'Roboto', sans-serif;
    border: none;
    background: #3974B7;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    padding: 15px 80px 15px 80px;
    white-space: nowrap;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
}

.footer {
    color: white;
    background: #316099;
}

.footer__text {
    padding-top: 96px;
    padding-bottom: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__text-wrapper {
    max-width: 445px;
}

.footer__text-wrapper h2 {
    max-width: 340px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
}

.footer__text-wrapper p {
    opacity: 0.8;
}

.footer__text .button {
    max-height: 56px;
}

.footer__separation {
    background-color: rgba(255, 255, 255, 0.6);
    height: 1px;
    width: 100%;
}

.footer__contacts {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    list-style: none;
    justify-content: space-between;
}

.footer__contacts li :nth-child(1) {
    padding-right: 19px;

}

.footer__contacts li {
    display: flex;
    min-width: 240px;
    max-width: 240px;
    padding-right: 142px;
}

.footer__contacts li:nth-last-child(1) {
    padding-right: 0px;
}

.footer__copyright {
    opacity: 0.8;
    padding-bottom: 64px;

}

.bootstrap-link {
    padding-bottom: 20px;
}

@media (max-width: 1220px) {
    .footer__contacts li {
        padding-right: 6vw;
    }

}

@media (max-width: 1000px) {
    .footer__text-wrapper {
        max-width: 290px;
    }

    .footer__contacts {
        display: block;
    }

    .footer__contacts li {
        max-width: unset;
    }

    .footer__contacts li {
        padding-bottom: 25px;
    }

    .footer__contacts li:nth-last-child(1) {
        padding-bottom: 0px;
    }
}

@media (max-width: 768px) {

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer .container {
        padding-left: 124px;
        padding-right: 124px;
    }

    .footer__text .button {
        font-weight: 400;
        margin-right: auto;
        margin-left: auto;
        padding: 1px 30px 1px 30px;
    }

}

@media (max-width:650px) {

    .footer .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer__text {
        padding-top: 18px;
        display: block;
        text-align: center;
        padding-bottom: 41px;
    }

    .footer__text-wrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 40px;
    }

    .footer__contacts {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .footer__copyright {
        padding-bottom: 32px;
    }

}